
<aside class="menu">
  <div class="version">
    <div class="columns is-paddingless	is-centered">
      <div class="column is-paddingless	is-narrow">
        VERSION
      </div>
    </div>
    <div class="columns is-paddingless	 is-centered">
      <div class="column 	 is-narrow">
        <div class="rectangle">
          0.0.1-alpha
          
        </div>
      </div>
    </div>
    
  </div>
  
      
  <a class="menu-label">
    Intro
  </a>
  <ul class="menu-list">
    <li><a class="is-active">Abstract</a></li>
    <li><a>Introduction</a></li>
    <li><a>Technology</a></li>
  </ul>
  <a class="menu-label">
    Technology
  </a>
  <ul class="menu-list">
    <li><a>Chosen technology</a></li>
    <li>

      <ul>
        <li><a>IOTA Tangle</a></li>
        <li><a>Hashgraph</a></li>
        <li><a>Other Technology</a></li>
      </ul>
    </li>
    <!-- <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li> -->
  </ul>
  <a class="menu-label">
      Aim of Platform
  </a>
  <ul class="menu-list">
    <li><a>Mission</a></li>
    <li><a>Goals</a></li>
  </ul>
  <p class="menu-label">Incentive</p>
    <ul class="menu-list">
        <li><a>Idea</a></li>
        <li><a>Marketing</a></li>
    </ul>
  
</aside>